
.switch {
    position: relative;
    display: flex;
    margin-left: 90%;
    margin-top: 0.9%;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 20px;

    background-color: var(--primary-color3);
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4.5px;
    background-color: white;
    transition: 0.6s;
    border-radius: 20px;
}

input:checked + .slider {
    background-color: var(--secondary-color3);
}

input:checked + .slider::before{
    transform: translateX(19px);
}

